# # Refer the app/utils/config.py for more details on each variable

CONF_ENV="dev"  # Options: dev, mcp, production
OPENAI_API_KEY="<your_openai_api_key_here>"
PORTFOLIO_URL="https://your-portfolio-url.com"

# You can set these if you are using organization/project specific features
# OpenAI library will automatically use the default org/project if set in .env file
OPENAI_API_TIMEOUT=10.0  # Timeout for OpenAI API requests in seconds
OPENAI_ORG_ID="<your_openai_org_id_here>"
OPENAI_PROJECT_ID="<your_openai_project_id_here>"
OPENAI_WEBHOOK_SECRET="<your_openai_webhook_secret_here>"

# MCP Settings
# Doc: https://gofastmcp.com/integrations/fastapi
FASTMCP_EXPERIMENTAL_ENABLE_NEW_OPENAPI_PARSER=true
