CONF_ENV="local"  # Options: local, staging, production
OPENAI_API_KEY="<your_openai_api_key_here>"

# You can set these if you are using organization/project specific features
# OpenAI library will automatically use the default org/project if set in .env file
OPENAI_API_TMEOUT=10.0  # Timeout for OpenAI API requests in seconds
OPENAI_ORG_ID="<your_openai_org_id_here>"
OPENAI_PROJECT_ID="<your_openai_project_id_here>"
OPENAI_WEBHOOK_SECRET="<your_openai_webhook_secret_here>"